
/* work sans font from google */

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
main{
    width: 1920px;
    height: 600px;
}

/* header realated style */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}
.header-container img{
    margin-top: 50px;

}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
.follow-usbox{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 250px;
    height: 50px;
    padding: 18px 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* banner related style */

.banner{
    display: flex;
    padding: 0 240px;
}
.banner-content{
    width: 50%;
    align-items: center;
    margin-top: 150px;
    background-image: url('../images/Group\ 14.png');
}


.banner-title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.gamer-g{
color: #FF42A5;
}
.banner-link{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}
.banner-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.banner-title2{
    color: #F948B2;
    font-size: 75px;    
    font-weight: 800;
}
.banner-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.button1{
    border-radius: 48px;
    background: #FF42A5;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.button-2{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
 
}
/* gamer related style */

.gamer{
    display: flex;
    gap: 300px;
}
.gamer-content{
    padding: 95px 240px 95px 0;
    text-align: right;

}
.gamer-img{
    padding-top: 42px;
    padding-bottom: 70px;
}

.gamer-title{
    color:  #F948B2;
    font-weight: 700;
}
.gamer-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.gamer-button{
    border-radius: 48px;
    background:#FF42A5;
    padding: 10px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.gamer-end{
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
}

/* Online games styles */

.online-game{
    background: #FFF;
}
.online-game-header{
    padding-top: 120px;
    text-align: center;
}
.online-game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-game-title > .color{
   color: #F948B2 ; 
}
.online-p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.online-gamer-img{
    padding: 50px 240px 24px 240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:24px ;
}
.funny-gamer-description{
    padding: 0 240px 120px 240px;
    display: flex;
    gap: 24px;
}
.funny-gamer-description p{
    width: 360px;
    height: 60px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* play instant section */

.play-insistent{
    display: flex;
    background: #FFF;
    padding: 120px 0px 0px 425px;
    gap: 120px;
}
.play-ins-content{
    width: 350px;
    text-align: right;

}
.play-ins-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-ins-title2{
    color: #F948B2;
}
.play-ins-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.play-ins-img{
    margin-left: 145px;
    
}
.play-ins-img-inner{
    position: relative;
    bottom: 290px;
    right: 145px;
}

 /* play games any where styles*/
 
 .play-games-container{
    display: flex;
    padding:  0 240px 120px 240px;
    gap: 115px;
    background: #FFF;
 }
 .play-games-content{
    width: 480px;
    text-align: left, center;
    margin-top: 150px;
 }
 .play-games-title{

    font-size: 48px;
    font-weight: 700;

 }
 .playgame-title-style{
    color: #F948B2;
 }
 .play-games-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
 }
 .play-games-img{
    margin-right: 135px;
 }
 .play-games-img-inner{
    position: relative;
    bottom: 240px;
    left: 530px;
 }

 /* Careers related styles*/

.Careers{
    display: flex;
    background-color: #F948B2;
}
.careers-content{
    padding-top: 150px;
    padding-left: 85px;
    padding-bottom: 85px;
    
}
.careers-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}
.careers-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
} 
.careers-1 li, .careers-2 li{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    
}
.careers-button{
    border-radius: 48px;
    background: #FFF;
    padding: 20px 40px;
    color: #FF42A5;
}
.careers-ul{
    display: flex;
    gap: 300px;
}
.careers-1{
    list-style: none;
}
.careers-2{
    text-align: right;
    list-style: none;
}

 /* logo related style */

.game-logo2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 120px;
   
}
.game-logo{
    padding: 0 250px;
}
.game-logo2 div{
    display: flex;
    width: 243px;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;

}
.game-logo2 div:hover{
    border: 2px solid tomato;
    border-radius: 1000px;
    color: #F948B2;
}
/* footer realated style */

footer{
    background: #0B0223;
    width: 1920px;
    height: 636px;
    padding: 120px 563px;
}
.foot-head{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.foot-head h2{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.foot-head-color{
    
}

